@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    h1 {
        @apply font-bold text-xl;
    }

    .button-link {
        @apply font-bold  text-sm px-2;
    }

    .hideMenuNav {
        @apply hidden;
    }

    .showMenuNav { 
        @apply absolute w-full h-48 top-0 right-0 flex flex-col justify-between items-start;
    }

    .icon-toggle-theme {
        @apply h-5  sm:h-8 block  cursor-pointer;
    }

    .button-form {
        @apply dark:text-gray-200 border-2 border-gray-900 dark:border-gray-200  sm:hover:scale-105 px-3 rounded-lg;
    }

    .container {
        @apply max-w-full m-auto pt-12 flex flex-col;
    }

    .form label {
        @apply block py-1 font-semibold dark:text-gray-100;
    }
    
    .form input:not(.radioInput) {
        @apply w-full border border-gray-100 p-1  rounded-md;
    }

    .form select {
        @apply w-full border border-gray-100 p-1  rounded-md;
    }

    .form h1 {
        @apply text-gray-900 uppercase font-bold text-xl border-b-2 border-black dark:border-white text-center pb-1 mb-4 dark:text-gray-100;
    }

    .error-text {
        @apply text-red-500 text-sm py-1;
    }

    .header {
        @apply flex fixed w-full bg-gray-300 dark:bg-gray-800 shadow-gray-900 dark:shadow-gray-500 shadow-lg py-4 items-center justify-around uppercase font-bold text-sm rounded-b-full;
    }

    /* Adicionando CSS personalizado */
    .equal-height {
        @apply flex flex-col h-full;
    }

    .equal-height > div {
        @apply flex-1 overflow-y-auto;
    }

    .fixed-height {
        @apply h-full overflow-y-auto;
    }

    /* Estilos específicos para o componente RadioButton */
    .radioInput {
        appearance: none;
        width: 20px;
        height: 20px;
        border: 2px solid #4A90E2;
        border-radius: 50%;
        position: relative;
        cursor: pointer;
        outline: none;
    }

    .radioInput:checked::before {
        content: '';
        width: 12px;
        height: 12px;
        background-color: #4A90E2;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
